global:
  name: stmgr
  namespace: media

image:
  repository: harbor.rwiv.xyz/private/stmgr
  tag: 1.9.4
  pullSecret: image-pull-secret

affinity: ~
tolerations: ~
podLabels: ~

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  host: ~
  secretName: cloudflare-certificate

app:
  server:
    endpoint: http://stmgr:80
  fsName: ~
  redis:
    host: stmgr-redis-master.media.svc.cluster.local
    port: 6379
    secrets:
      auth:
        name: stmgr-redis-auth
        passwordKey: password
  postgres:
    host: stmgr-postgresql.media.svc.cluster.local
    port: 5432
    database: stmgr
    secretName: stmgr-postgresql
    usernameKey: username
    passwordKey: password
  configs:
    httpTimeoutMs: 7000
    liveAllocationInitWaitSec: 15
    liveRecoveryInitWaitSec: 40
    liveFinishTimeoutSec: 180 # 3 minutes
    nodeResetCycleSec: 43200 # 12 hours
    nodeFailureThreshold: 10
    liveStateInitWaitSec: 120 # 2 minutes
    liveStateExpireSec: 604800 # 7 days
    stdlClearBatchSize: 50
    cacheExpireSec: 86400 # 24 hours
    maxConcurrentLive: 3

externals:
  stdl:
    locations:
      default: local
      followed: local
    redis:
      masterHost: stdl-redis-master.media.svc.cluster.local
      masterPort: 6379
      replicaHost: stdl-redis-replicas.media.svc.cluster.local
      replicaPort: 6379
      secrets:
        auth:
          name: stdl-redis-auth
          passwordKey: password
    queue:
      secretName: stdl-queue
      regionNameKey: region-name
      queueUrlKey: queue-url
  streamq:
    url: http://streamq.media.svc.cluster.local
    qsize: 200
  stlink:
    endpoint: http://stlink-domestic.media.svc.cluster.local
    endpointDomestic: http://stlink-domestic.media.svc.cluster.local
    endpointOverseas: http://stlink-overseas.media.svc.cluster.local
    httpTimeoutMs: 30000
    enforceAuthForFollowed: true
  untf:
    endpoint: http://untf.common.svc.cluster.local
    secretName: untf-client
    apiKeySecretKey: api-key
    topic: stmgr
  sqs:
    secretName: sqs-auth
    accessKeyKey: access-key
    secretKeyKey: secret-key
