{
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "all",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/utils/(.*)$",
    "^@/common/(.*)$",
    "^@/infra/(.*)$",
    "^@/external/(.*)$",
    "^@/task/(.*)$",
    "^@/platform/(.*)$",
    "^@/channel/(.*)$",
    "^@/criterion/(.*)$",
    "^@/node/(.*)$",
    "^@/live/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
