global:
  name: stmgr
  namespace: media

image:
  repository: harbor.rwiv.xyz/private/stmgr
  tag: 0.9.2
  pullSecret: image-pull-secret

affinity: ~
tolerations: ~
podLabels:
  sidecar.istio.io/inject: "true"

service:
  type: NodePort
  port: 80
  nodePort: 30220

app:
  server:
    port: 8080
  redis:
    host: stdl-redis.rwiv.xyz
    port: 30211
    secretName: redis-main
    passwordKey: password
  postgres:
    host: stmgr-postgresql.media.svc.cluster.local
    port: 5432
    database: stmgr
    secretName: stmgr-postgresql
    usernameKey: username
    passwordKey: password
  configs:
    nodeFailureThreshold: 20
    nodeResetCycleSec: 43200 # 12 hours
    liveRecoveryWaitTimeMs: 40000

externals:
  streamq:
    url: http://streamq-vpn.media.svc.cluster.local
    qsize: 200
  authed:
    url: http://authed.common.svc.cluster.local
    secretName: authed-app
    apiKeySecretKey: api-key
  untf:
    endpoint: http://untf.common.svc.cluster.local
    secretName: untf-client
    apiKeySecretKey: api-key
    topic: stmgr
  vtask:
    endpoint: http://vtask-server.media.svc.cluster.local
