global:
  name: stmgr
  namespace: media

image:
  repository: harbor.rwiv.xyz/private/stmgr
  tag: 0.8.6
  pullSecret: image-pull-secret

affinity: ~
tolerations: ~
podLabels:
  sidecar.istio.io/inject: "true"

service:
  type: NodePort
  port: 80
  nodePort: 30220

app:
  server:
    port: 8080
  redis:
    host: redis-master.infra.svc.cluster.local
    port: 6379
    secretName: redis-main
    passwordKey: password
  rabbitmq:
    host: rabbitmq.infra.svc.cluster.local
    port: 5672
    httpPort: 15672
    username: admin
    secretName: rabbitmq-main
    passwordKey: password
  postgres:
    host: stmgr-postgresql.media.svc.cluster.local
    port: 5432
    database: stmgr
    secretName: stmgr-postgresql
    usernameKey: username
    passwordKey: password
  configs:
    nodeFailureThreshold: 20
    nodeResetCycleSec: 43200 # 12 hours
    liveRecoveryWaitTimeMs: 40000

externals:
  streamq:
    url: http://streamq.media.svc.cluster.local
    qsize: 100
  authed:
    url: http://authed.common.svc.cluster.local
    secretName: authed-app
    apiKeySecretKey: api-key
  untf:
    endpoint: http://untf.common.svc.cluster.local
    secretName: untf-client
    apiKeySecretKey: api-key
    topic: stmgr
