global:
  name: stmgr
  namespace: media

image:
  repository: harbor.rwiv.xyz/private/stmgr
  tag: 1.0.1
  pullSecret: image-pull-secret

affinity: ~
tolerations: ~
podLabels:
  sidecar.istio.io/inject: "true"

vault:
  mount: kube
  refreshAfter: 30s
  redis:
    path: media/stdl/redis
    version: 1
    secretName: stdl-redis
    passwordKey: password

service:
  type: NodePort
  port: 80
  nodePort: 30220

app:
  server:
    port: 8080
  redis:
    host: stdl-redis.rwiv.xyz
    port: 30211
    secrets:
      auth:
        name: stdl-redis-auth
        passwordKey: password
      tls:
        name: stdl-redis-tls
        caKey: ca.crt
  postgres:
    host: stmgr-postgresql.media.svc.cluster.local
    port: 5432
    database: stmgr
    secretName: stmgr-postgresql
    usernameKey: username
    passwordKey: password
  configs:
    nodeFailureThreshold: 1000
    nodeResetCycleSec: 43200 # 12 hours
    liveRecoveryWaitTimeMs: 40000

externals:
  streamq:
    url: http://streamq-vpn.media.svc.cluster.local
    qsize: 200
  stlink:
    endpoint: http://stlink.media.svc.cluster.local
  authed:
    url: http://authed.common.svc.cluster.local
    secretName: authed-app
    apiKeySecretKey: api-key
  untf:
    endpoint: http://untf.common.svc.cluster.local
    secretName: untf-client
    apiKeySecretKey: api-key
    topic: stmgr
  vtask:
    endpoint: http://vtask-server.media.svc.cluster.local
