global:
  name: stmgr
  namespace: media

image:
  repository: harbor.rwiv.xyz/private/stmgr
  tag: 0.4.3
  pullSecret: image-pull-secret

affinity: {}
tolerations:
  - key: cpu
    operator: Exists

service:
  type: NodePort
  port: 80
  nodePort: 30220

app:
  server:
    port: 8080
  redis:
    host: redis-master.infra.svc.cluster.local
    port: 6379
    secretName: redis-main
    passwordKey: password
  rabbitmq:
    host: rabbitmq.infra.svc.cluster.local
    port: 5672
    httpPort: 15672
    username: admin
    secretName: rabbitmq-main
    passwordKey: password
  postgres:
    host: stmgr-postgres-rw.media.svc.cluster.local
    port: 5432
    database: stmgr
    secretName: stmgr-postgres
    usernameKey: username
    passwordKey: password
  configs:
    liveRecoveryWaitTimeMs: 120000

externals:
  streamq:
    url: http://streamq.media.svc.cluster.local
    qsize: 1000
  authed:
    url: http://authed-server.media.svc.cluster.local
    secretName: authed-app
    enckeyKey: enckey
  ntfy:
    endpoint: http://ntfy.common.svc.cluster.local
    topic: stmgr
