apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
  namespace: {{ .Values.global.namespace }}
data:
  conf.yaml: |
    {{- with .Values.subsChzzkChanIds }}
    subsChzzkChanIds:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.subsSoopUserIds }}
    subsSoopUserIds:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}

    chzzkMinUserCnt: {{ .Values.chzzkMinUserCnt }}
    chzzkMinFollowerCnt: {{ .Values.chzzkMinFollowerCnt }}
    soopMinUserCnt: {{ .Values.soopMinUserCnt }}
    soopMinFollowerCnt: {{ .Values.soopMinFollowerCnt }}

    {{- with .Values.chzzkTags }}
    chzzkTags:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.chzzkKeywords }}
    chzzkKeywords:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.soopCateNoList}}
    soopCateNoList:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}

    {{- with .Values.excludedChzzkCates}}
    excludedChzzkCates:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.excludedChzzkTags }}
    excludedChzzkTags:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.excludedChzzkKeywords }}
    excludedChzzkKeywords:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}

    {{- with .Values.allowedSoopUserIds }}
    allowedSoopUserIds:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.excludedSoopUserIds }}
    excludedSoopUserIds:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}

    {{- with .Values.allowedChzzkChanNames}}
    allowedChzzkChanNames:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.excludedChzzkChanNames }}
    excludedChzzkChanNames:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.excludedChzzkChanIds }}
    excludedChzzkChanIds:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
