apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
  namespace: {{ .Values.global.namespace }}
data:
  conf.yaml: |
    {{- with .Values.subscribeChannelIds }}
    subscribeChannelIds:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}

    minUserCnt: {{ .Values.minUserCnt }}
    minFollowerCnt: {{ .Values.minFollowerCnt }}

    {{- with .Values.tags }}
    tags:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.keywords }}
    keywords:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}

    {{- with .Values.sufficientTags }}
    sufficientTags:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}

    {{- with .Values.ignoredCategories}}
    ignoredCategories:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.ignoredTags }}
    ignoredTags:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- with .Values.ignoredKeywords }}
    ignoredKeywords:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}

    {{- with .Values.whiteListChannels}}
    whiteListChannels:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}

    {{- with .Values.ignoredChannels }}
    ignoredChannels:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
