services:
  recflow:
    image: recflow:latest
    container_name: recflow
    environment:
      NODE_ENV: dev
      APP_PORT: "${APP_PORT}"
      STREAMQ_URL: "${STREAMQ_URL}"
      STREAMQ_QSIZE: "${STREAMQ_QSIZE}"
      STLINK_ENDPOINT: "${STLINK_ENDPOINT}"
      STLINK_ENDPOINT_DOMESTIC: "${STLINK_ENDPOINT_DOMESTIC}"
      STLINK_ENDPOINT_OVERSEAS: "${STLINK_ENDPOINT_OVERSEAS}"
      STLINK_HTTP_TIMEOUT_MS: "${STLINK_HTTP_TIMEOUT_MS}"
      STLINK_ENFORCE_AUTH_FOR_FOLLOWED: "${STLINK_ENFORCE_AUTH_FOR_FOLLOWED}"
      STLINK_USE_PROXY: "false"
      UNTF_ENDPOINT: "${UNTF_ENDPOINT}"
      UNTF_API_KEY: "${UNTF_API_KEY}"
      UNTF_TOPIC: "${UNTF_TOPIC}"
      SERVER_REDIS_HOST: "${SERVER_REDIS_HOST}"
      SERVER_REDIS_PORT: "${SERVER_REDIS_PORT}"
      SERVER_REDIS_PASSWORD: "${SERVER_REDIS_PASSWORD}"
      FS_NAME: "${FS_NAME}"
      RECNODE_API_TOKEN: "${RECNODE_API_TOKEN}"
      RECNODE_DEFAULT_LOCATION: "${RECNODE_DEFAULT_LOCATION}"
      RECNODE_FOLLOWED_LOCATION: "${RECNODE_FOLLOWED_LOCATION}"
      RECNODE_REDIS_MASTER_HOST: "${RECNODE_REDIS_MASTER_HOST}"
      RECNODE_REDIS_MASTER_PORT: "${RECNODE_REDIS_MASTER_PORT}"
      RECNODE_REDIS_REPLICA_HOST: "${RECNODE_REDIS_REPLICA_HOST}"
      RECNODE_REDIS_REPLICA_PORT: "${RECNODE_REDIS_REPLICA_PORT}"
      RECNODE_REDIS_PASSWORD: "${RECNODE_REDIS_PASSWORD}"
      PG_HOST: "${PG_HOST}"
      PG_PORT: "${PG_PORT}"
      PG_DATABASE: "${PG_DATABASE}"
      PG_USERNAME: "${PG_USERNAME}"
      PG_PASSWORD: "${PG_PASSWORD}"
      SQS_ACCESS_KEY: "${SQS_ACCESS_KEY}"
      SQS_SECRET_KEY: "${SQS_SECRET_KEY}"
      SQS_REGION_NAME: "${SQS_REGION_NAME}"
      SQS_QUEUE_URL: "${SQS_QUEUE_URL}"
      HTTP_TIMEOUT_MS: "${HTTP_TIMEOUT_MS}"
      LIVE_ALLOCATION_INIT_WAIT_SEC: "${LIVE_ALLOCATION_INIT_WAIT_SEC}"
      LIVE_RECOVERY_INIT_WAIT_SEC: "${LIVE_RECOVERY_INIT_WAIT_SEC}"
      LIVE_FINISH_TIMEOUT_SEC: "${LIVE_FINISH_TIMEOUT_SEC}"
      NODE_RESET_CYCLE_SEC: "${NODE_RESET_CYCLE_SEC}"
      NODE_FAILURE_THRESHOLD: "${NODE_FAILURE_THRESHOLD}"
      LIVE_STATE_INIT_WAIT_SEC: "${LIVE_STATE_INIT_WAIT_SEC}"
      LIVE_STATE_EXPIRE_SEC: "${LIVE_STATE_EXPIRE_SEC}"
      RECNODE_CLEAR_BATCH_SIZE: "${RECNODE_CLEAR_BATCH_SIZE}"
      CACHE_EXPIRE_SEC: "${CACHE_EXPIRE_SEC}"
      MAX_CONCURRENT_LIVE: "${MAX_CONCURRENT_LIVE}"
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ../dev/batch_conf.yaml:/app/dev/batch_conf.yaml
      - ../dev/test_channel_infos.json:/app/dev/test_channel_infos.json
