services:
  recflow:
    image: recflow:latest
    container_name: recflow
    environment:
      NODE_ENV: dev
      CONFIG_PATH: /app/conf.yaml
      APP_PORT: "${APP_PORT}"
      STREAMQ_URL: "${STREAMQ_URL}"
      STREAMQ_QSIZE: "${STREAMQ_QSIZE}"
      AUTHED_URL: "${AUTHED_URL}"
      AUTHED_API_KEY: "${AUTHED_API_KEY}"
      NTFY_ENDPOINT: "${NTFY_ENDPOINT}"
      NTFY_TOPIC: "${NTFY_TOPIC}"
      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PORT}"
      AMQP_HOST: "${AMQP_HOST}"
      AMQP_PORT: "${AMQP_PORT}"
      AMQP_USERNAME: "${AMQP_USERNAME}"
      AMQP_PASSWORD: "${AMQP_USERNAME}"
      LIVE_RECOVERY_WAIT_TIME_MS: "${LIVE_RECOVERY_WAIT_TIME_MS}"
      NODE_FAILURE_THRESHOLD: "${NODE_FAILURE_THRESHOLD}"
      NODE_RESET_CYCLE_SEC: "${NODE_RESET_CYCLE_SEC}"
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ../kube/server/conf.yaml:/app/conf.yaml
