services:
  stmgr:
    image: stmgr:latest
    container_name: stmgr
    environment:
      NODE_ENV: dev
      CONFIG_PATH: /app/conf.yaml
      APP_PORT: "${APP_PORT}"
      STREAMQ_URL: "${STREAMQ_URL}"
      STREAMQ_QSIZE: "${STREAMQ_QSIZE}"
      AUTHED_URL: "${AUTHED_URL}"
      AUTHED_ENCKEY: "${AUTHED_ENCKEY}"
      NTFY_ENDPOINT: "${NTFY_ENDPOINT}"
      NTFY_TOPIC: "${NTFY_TOPIC}"
      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PORT}"
      AMQP_HOST: "${AMQP_HOST}"
      AMQP_PORT: "${AMQP_PORT}"
      AMQP_USERNAME: "${AMQP_USERNAME}"
      AMQP_PASSWORD: "${AMQP_USERNAME}"
    ports:
      - 3000:3000
    volumes:
      - ../helm/conf.yaml:/app/conf.yaml
