metadata:
  name: stmgr-redis
  namespace: media
vault:
  mount: kube
  path: media/stmgr/redis
  version: 1
  secretName: stmgr-redis-auth
  refreshAfter: 30s

redis:
  global:
    storageClass: longhorn
  auth:
    existingSecret: stmgr-redis-auth
    existingSecretPasswordKey: password
  master:
    count: 1
    service:
      type: ClusterIP
      ports:
        redis: 6379
    persistence:
      enabled: true
      size: 2Gi
    resources:
      requests:
        memory: 512Mi
      limits:
        memory: 1024Mi
  replica:
    replicaCount: 0
  tls:
    enabled: false
