metadata:
  name: recflow-postgresql
  namespace: media
vault:
  mount: kube
  path: media/recflow/postgresql
  version: 1
  secretName: recflow-postgresql
  refreshAfter: 30s

postgresql:
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: 16.4.0-debian-12-r14
  architecture: standalone
  auth:
    database: recflow
    username: admin
    existingSecret: recflow-postgresql
    secretKeys:
      userPasswordKey: password
  primary:
    service:
      type: ClusterIP
      ports:
        postgresql: 5432
    persistence:
      enabled: true
      storageClass: longhorn
      accessModes:
        - ReadWriteOnce
      size: 4Gi
    resources:
      requests:
        memory: 1024Mi
      limits:
        memory: 2048Mi
