metadata:
  name: stmgr-postgresql
  namespace: media
vault:
  mount: kube
  path: media/stmgr/postgresql
  version: 1
  secretName: stmgr-postgresql
  refreshAfter: 30s

postgresql:
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: 16.4.0-debian-12-r14
  architecture: standalone
  auth:
    database: stmgr
    username: admin
    existingSecret: stmgr-postgresql
    secretKeys:
      userPasswordKey: password
  primary:
    service:
      type: ClusterIP
      ports:
        postgresql: 5432
    persistence:
      enabled: true
      storageClass: longhorn
      accessModes:
        - ReadWriteOnce
      size: 4Gi
    resources:
      requests:
        cpu: 300m
        memory: 1024Mi
      limits:
        cpu: 600m
        memory: 2048Mi
